@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 98%;
    --foreground: 218 22% 14%;
    --card: 0 0% 100%;
    --card-foreground: 218 22% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 22% 14%;
    --primary: 207 88% 45%; /* azul petróleo vibrante */
    --primary-foreground: 210 40% 98%;
    --secondary: 218 22% 92%;
    --secondary-foreground: 218 22% 18%;
    --muted: 218 22% 94%;
    --muted-foreground: 217 16% 45%;
    --accent: 26 90% 55%; /* laranja âmbar de destaque */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 218 22% 88%;
    --input: 218 22% 88%;
    --ring: 207 88% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 16% 8%;
    --foreground: 210 40% 98%;
    --card: 220 16% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 16% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 88% 60%;
    --primary-foreground: 220 16% 8%;
    --secondary: 220 14% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 14% 18%;
    --muted-foreground: 220 12% 70%;
    --accent: 26 90% 60%;
    --accent-foreground: 220 16% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 14% 26%;
    --input: 220 14% 26%;
    --ring: 207 88% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
